<div class="row animated fadeIn fast">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <input type="text" #buscarTexto class="form-control"
                        placeholder="Buscar Usuario..."
                        (keyup)="buscar(buscarTexto.value)" />
            </div>
        </div>
    </div>
</div>
<div *ngIf="loading" class="row animated fadeIn fast">
    <div class="col-12">
        <div class="alert alert-info text-center">
            <h4 class="alert-heading">Cargando</h4>
            <i class="fa fa-spin fa-refresh fa-2x"></i>
            <p class="mb-0">Por favor espere.</p>
        </div>
    </div>
</div>
<div *ngIf="!loading" class="row animated fadeIn fast">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Total de Usuarios: {{totalUsuarios}}</h4>
                <h6 class="card-subtitle">Paginado desde el Registro: {{desde + 1}}</h6>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="w100 text-center">Avatar</th>
                                <th class="text-center">Email</th>
                                <th class="text-center">Nombre Completo</th>
                                <th class="w128 text-center">Rol</th>
                                <th class="w100 text-center">Sign In</th>
                                <th class="text-nowrap w100 text-center">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let usuario of usuarios">
                                <td class="text-center">
                                    <img class="img-avatar-sm cursor" [src]="usuario.imgUrl"
                                            alt="Avatar" (click)="abrirModal(usuario)" />
                                </td>
                                <td class="grid-email">{{usuario.email}}</td>
                                <td>{{usuario.nombre}} {{usuario.apellido}}</td>
                                <td>
                                    <select class="form-control"
                                            [(ngModel)]="usuario.role"
                                            (change)="cambiarRol(usuario)">
                                        <option value="ADMIN_ROLE">Admin</option>
                                        <option value="USER_ROLE">User</option>
                                    </select>
                                </td>
                                <td class="text-center">
                                    <span *ngIf="usuario.google" class="label label-danger">gSignIn</span>
                                    <span *ngIf="!usuario.google" class="label label-info">Email</span>
                                </td>
                                <td class="text-nowrap text-center">
                                    <!--<a href="#" data-toggle="tooltip" data-original-title="Edit">
                                        <i class="fa fa-pencil text-inverse m-r-10"></i>
                                    </a>-->
                                    <a data-toggle="tooltip" data-original-title="Close"
                                            (click)="eliminarUsuario(usuario)">
                                        <i class="fa fa-close text-danger cursor"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="d-flex justify-content-between" *ngIf="buscarTexto.value.length === 0">
                    <button (click)="cambiarPagina(-5)" class="btn btn-secondary">Anterior</button>
                    <button (click)="cambiarPagina(5)" class="btn btn-secondary">Siguiente</button>
                </div>
            </div>
        </div>
    </div>    
</div>
